[client]
loose-default-character-set=utf8mb4

[mysqld_safe]
#socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
skip-host-cache
skip-name-resolve
#
# * Basic Settings
#
skip-external-locking
lower_case_table_names = 1
init-connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
#bind-address		= 127.0.0.1
#
# * Fine Tuning
#
max_connections         = 10000
connect_timeout         = 500
wait_timeout            = 6000
sort_buffer_size        = 16M
bulk_insert_buffer_size = 32M
tmp_table_size          = 64M
max_heap_table_size     = 128M
# 
key_buffer_size		= 128M
max_allowed_packet	= 128M
thread_stack		= 192K
thread_cache_size       = 128
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam-recover         = BACKUP
#max_connections        = 100
#table_cache            = 64
#thread_concurrency     = 10
#
# * Query Cache Configuration
#
query_cache_limit	= 32M
query_cache_size        = 128M



[mysqldump]
quick
quote-names
max_allowed_packet	= 64M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition
